{% extends "project_app/project_app_base.html" %}
{% block project_title %} Project Delete{% endblock %}
{% block content %}
<div class="py-2"></div>
<form method="POST">
  {% csrf_token %}
  <div class="container">
    <span class="dpl-newmdb-docs-alert">
      <p class="note note-danger">
        Are you sure you want to delete project <strong>{{ object }}</strong> ?
        <br>
        <br>
        <span class="btn-group" role="group" aria-label="Project Buttons">
          <a type="button" href="{% url 'project_app:project_detail' pk=project.pk %}"
            class="btn btn-dark waves-effect">
            <i class="fas fa-times fa-md pr-2" aria-hidden="true"></i>
            Cancel
          </a>
          <button type="submit" class="btn btn-danger waves-effect"><i class="fas fa-check fa-md pr-2"
              aria-hidden="true"></i>
            Confirm
          </button>
        </span>
      </p>
    </span>
  </div>
</form>
{% endblock %}