{% extends "base.html" %}
{% block content %}
<div class="py-2"></div>
<div class="container">
<div class="jumbotron">
    <h1 class="display-4">Welcome to Project Management</h1>
    <p class="lead">This is a small full stack Project Management application. Through the application, a user can create and update projects.  The user can create employees.  Once employees have been created, then those employees can be assigned or unassigned to projects.</p>
    <hr class="my-4">
    <p>Use the below buttons to quickly create a project or employee.</p>
    <a class="btn btn-primary btn-lg" href="{% url 'project_app:project_create' %}" role="button"><i class="fas fa-cube fa-fw"></i> Add Project</a>
    <a class="btn btn-success btn-lg" href="{% url 'project_app:employee_create' %}" role="button"><i class="fas fa-user fa-fw"></i> Add Employee</a>
  </div>
</div>
{% endblock %}